<div class="city" ng-mouseover="hover = true" ng-mouseleave="hover = false">
	<div class="title">{{name}}</div>
	<button ng-show="hover" class="btn-danger btn-xs btn-remove" ng-click="remove()">remove</button>
	<div ng-if="loading">fetching data...</div>
	<div class="image" ng-if="!loading">
		<img ng-src="http://openweathermap.org/img/w/{{conditionIco}}.png">
	</div>
	<div class="info" ng-if="!loading">
		<p class="text-left">{{temp}} C</p>
		<p class="text-right">{{condition}}</p>
	</div>
</div>